.container {
  padding-top: 20px;
  margin: 0 0 160px;
}

.img {
  width: 100%;
  font-size: 0;
  display: block;
  border-radius: 4px;
  margin-bottom: 40px;
  max-height: 788px;
  object-fit: cover;
}

.mb16 {
  margin-bottom: 16px;
}

.content {
  max-width: 800px;
  margin-bottom: 80px;
}

.mb8 {
  margin-bottom: 8px;
}

.contacts {
  max-width: 560px;
}

.buttons {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 17px;
}

.telegram {
  padding: 9px 16px 8px;
  border-radius: 4px;
  background-color: var(--black-color);

  font-weight: 400;
  font-size: 16px;
  color: var(--white-color);

  transition: border-radius 0.3s;
}

.telegram:hover {
  border-radius: 140px;
}

@media (max-width: 767px) {
  .container {
    margin: 0 0 80px;
  }

  .img {
    min-height: 430px;
    object-fit: cover;
    object-position: 72%;
    margin-bottom: 20px;
  }

  .buttons {
    flex-direction: column;
    align-items: flex-start;
  }
}
