.whiteText {
  color: var(--white-color);
}
.blackText {
  color: var(--black-color);
}
.smallText {
  font-size: 12px;
  line-height: 1.2;
}
.mediumText {
  font-size: 16px;
  line-height: 1.3;
}

.bigText {
  font-size: 24px;
  line-height: 1.2;
}

.fw400 {
  font-weight: 400;
}

.fw700 {
  font-weight: 700;
}
