.container {
  padding: 0 40px;
  margin: 0 auto;
  max-width: 100%;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.relative {
  position: relative;
  /* max-width: 1840px; */
}
