.wrapper {
  gap: 40px;
}

.main {
  position: relative;
}

.mb20 {
  margin-bottom: 20px;
}

.mb40 {
  margin-bottom: 40px;
}

.mt20 {
  margin-top: 20px;
}

.mt80 {
  margin-top: 80px;
}

.mt160 {
  margin-top: 160px;
}

.pt43 {
  padding-top: 43px;
}

@media (max-width: 1239px) {
  .container {
    margin: 0;
    padding: 0;
  }
  .pt43 {
    padding-top: 0px;
    margin-bottom: 8px;
  }
  .wrapper {
    gap: 4px;
  }
}
