:root {
  --font-family: 'Roboto Flex', sans-serif;
  --second-family: 'Architexture', sans-serif;
  --third-family: 'Faberge', sans-serif;
  --font3: 'Cormorant Infant', sans-serif;
  --font4: 'SF Pro Text', sans-serif;
  --font5: 'Golos UI', sans-serif;
  --font6: 'Inter Tight', sans-serif;
  --font7: 'Golos Text', sans-serif;
  --font8: 'EB Garamond', sans-serif;
  --font9: 'Caveat', sans-serif;
  --font10: 'Chair 406', sans-serif;

  --black-color: #000;
  --white-color: #fff;
}
