.left,
.list {
  display: flex;
  align-items: center;
  gap: 20px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: var(--black-color);
}

.listInfo {
  display: flex;
  align-items: center;
  gap: 20px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  color: var(--black-color);
}

.item {
  font-size: 12px;
}

@media (max-width: 1239px) {
  .container {
    padding: 0;
    flex-direction: column;
  }
  .left,
  .list {
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }
  .left {
    margin-bottom: 40px;
  }
}
