.wrapper {
  max-width: 100%;
  display: flex;
  gap: 4px;
}

.parent {
  position: relative;
  width: 100%;
  border-radius: 4px;
  font-size: 0;
  display: flex;
  justify-content: flex-end;
}

.one {
  margin-bottom: 80px;
  width: 100%;
  position: relative;
}

.vh100 {
  height: 100vh;
}

.smallMb {
  margin-bottom: 4px;
}

.mediumMb {
  margin-bottom: 63px;
}

.bigMb {
  margin-bottom: 80px;
}

@media (max-width: 1239px) {
  .wrapper {
    flex-direction: column;
    padding: 8px;
  }

  .vh100 {
    height: auto;
  }

  .heightMobile {
    min-height: 460px;
  }

  .heightMobileBig {
    min-height: 610px;
    object-position: 40%;
  }
}
