.wrapper {
  max-width: 100%;
  display: flex;
  gap: 4px;
}

.parent {
  position: relative;
  width: 100%;
  border-radius: 4px;
  font-size: 0;
}

.one {
  margin-bottom: 80px;
  width: 100%;
  position: relative;
}

.vh100 {
  height: 100vh;
}

.vh90 {
  height: 50%;
}

.smallMb {
  margin-bottom: 4px;
}

.mediumMb {
  margin-bottom: 63px;
}

.bigMb {
  margin-bottom: 80px;
}
