.wrapper {
  margin-bottom: 80px;
  max-width: 100%;
  display: flex;
  gap: 4px;
}

.parent {
  position: relative;
}

.one {
  margin-bottom: 80px;
  width: 100%;
  position: relative;
}

.vh100 {
  height: 100vh;
}

.vh90 {
  height: 50%;
}
