.main {
  padding-top: 20px;
}

.container {
  margin: 0 0 120px;
  padding: 0 184px 0 40px;
}

.wrapper {
  display: grid;
  grid-template-columns: 6fr 4fr;
  gap: 197px;
}

.mb80 + .mb80 {
  margin-top: 80px;
}
.journal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  margin-bottom: 160px;
}

.journalImg {
  display: block;
  max-width: 100%;
}
.journalImg + .journalImg {
  margin-top: 4px;
}

.mb16 {
  margin-bottom: 16px;
}
.mb32 {
  margin-bottom: 32px;
}

@media (max-width: 1239px) {
  .container {
    margin: 0 0 20px;
    padding: 0 8px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  .journal {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .journalImg {
    min-height: 230px;
    object-fit: cover;
  }
  .journalImg + .journalImg {
    margin-top: 20px;
  }
}
