.margin {
  margin-bottom: 100px;
}

.left {
  color: var(--black-color);
}

.iconLogo {
  width: 150px;
  height: 60px;
}

.text {
  margin-top: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
}

.contact {
  margin-top: 20px;
  display: flex;
  gap: 24px;
}

.link {
  font-weight: 400;
  font-size: 16px;
  color: var(--black-color);
}

.iconGroup {
  margin-top: 11px;
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--black-color);
}

@media (max-width: 1239px) {
  .container {
    padding: 0;
    flex-direction: column;
    gap: 40px;
  }

  .text {
    margin-top: 20px;
  }

  .contact {
    margin: 40px 0;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 24px;
  }
}
