.margin {
  margin-bottom: 100px;
}

.left {
  color: var(--black-color);
}

.text {
  margin-top: 30px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
}

.contact {
  margin-top: 20px;
  display: flex;
  gap: 24px;
}

.link {
  font-weight: 400;
  font-size: 16px;
  color: var(--black-color);
}
