.link {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  font-family: var(--font-family);
}

.colorWhite {
  color: var(--white-color);
  opacity: 1;
  transition: opacity 0.3s;
}

.colorWhite:hover {
  opacity: 0.6;
}

.colorBlack {
  opacity: 1;
  color: var(--white-black);
  transition: opacity 0.3s;
}

.colorBlack:hover {
  opacity: 0.4;
}

.underline {
  text-decoration: underline;
}

.small {
  font-size: 12px;
}

@media (max-width: 1239px) {
  .header {
    font-weight: 500;
    font-size: 30px;
  }
  .footer {
    font-weight: 400;
    font-size: 24px;
  }
}
