.wrapper {
  width: 100%;
  position: relative;
}

.img {
  display: block;
  width: 100%;
  border-radius: 4px;
  object-fit: contain;
}

.imgSmall {
  display: block;
  width: 72%;
  border-radius: 4px;
  object-fit: contain;
  font-size: 0;
}

.mb16 {
  margin-bottom: 16px;
}

.mb32 {
  margin-bottom: 32px;
}
.textBig {
  margin-bottom: 32px;
}
.textMedium {
  margin-bottom: 32px;
}

.content {
  max-width: 800px;
  left: 40px;
  bottom: 24px;
  position: absolute;
  z-index: 5;
}

.mb120 {
  margin-bottom: 120px;
}

.titleSmall {
  max-width: 360px;
}

.textSmall {
  max-width: 586px;
  margin-bottom: 32px;
}

@media (max-width: 1239px) {
  .content {
    margin-top: 20px;
    position: static;
  }

  .bigImg {
    min-height: 194px;
    object-fit: cover;
  }

  .mb32 {
    margin-bottom: 40px;
  }
  .textBig {
    margin-bottom: 40px;
  }

  .textSmall.textSmall {
    margin-bottom: 30px;
  }

  .mb120 {
    margin-bottom: 80px;
  }

  .mediumImg {
    min-height: 430px;
    object-fit: cover;
  }
  .mb32 {
    margin-bottom: 20px;
  }

  .imgSmall {
    width: 100%;
    min-height: 194px;
    object-fit: cover;
  }
}
